name: flida_auth_sdk_android

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - ".github/workflows/flida_auth_sdk_android.yaml"
      - "flida_auth_sdk_android/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/flida_auth_sdk_android.yaml"
      - "flida_auth_sdk_android/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.35.0
      working_directory: flida_auth_sdk_android

